<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".SimpleTimerApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Simple_timer"
        tools:targetApi="31">
        <activity
            android:name=".EventListActivity"
            android:exported="false"
            android:label="@string/title_activity_event_list"
            android:theme="@style/Theme.Simple_timer" />
        <activity
            android:name=".TimeRecordActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CategoryManagementActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryDetailActivity"
            android:exported="false" />
        <!-- 移除前台服务类型声明 -->
        <service
            android:name=".DatabaseManagementService"
            android:exported="false"/>
    </application>
</manifest>